<!-- <p>board works!</p> -->

<div class="board">
    <div class="header">
        <div class="btns card">
            <button (click)="goBackToMenu()">Home</button>
            <button (click)="replay()">Replay</button>
        </div>
        <div id="details-informations" class="game-info card">
            Chargement du plateau de jeu...
        </div>
        <div id="info-jeu" class="permanent-info card">
            Chèvre = joueur
            Collecteur = IA...
        </div>
    </div>

    <div #visualiser id="visualiser" class="game-board card">
        <!-- Main part of this page. THE BOARD -->
    </div>

    <div class="footer card">
        <div class="game-actions">
            <button (click)="validateTurn()" class="validate">Valider le tour</button>
        </div>
    </div>

    <svg>
        <defs>
            <pattern id="goat" x="0" y="0" width="1" height="1">
                <image x="0" y="0"href="assets/goat.svg" width="60" height="60"></image>
            </pattern>
            <pattern id="cabbage" x="0" y="0" width="1" height="1">
                <image x="0" y="0"href="assets/cabbageV2.svg" width="60" height="60"></image>
            </pattern>
        </defs>
    </svg>
</div>
