.board {
    height: 100%;

    .header {
        /* width: 100%; */
        display: flex;
        align-items: stretch;
        justify-content: center;
        height: 10%;

        .btns {
            width: 20%;
            display: flex;
            padding: 1em;
            
            button {
                width: 50%;
            }
        }

        .game-info {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-weight: bold;
            font-size: large;
        }
    }

    .game-board {
        height: 75%;
    }

    .footer {
        display: flex;
        align-items: stretch;
        justify-content: center;
        height: 10%;

        .game-actions {
            flex: 1;
            display: flex;
            padding: 1em;
    
            button {
                flex: 1;
            }
        }
    }
}