<!-- <p>configuration-menu works!</p> -->
<div class="configuration">
    <div class="header card">
        <div class="btns">
            <button (click)="goBack()">Retour</button>
            <button (click)="displayHack()">Affichage WebSurfer</button>
            <button (click)="displayGoat()">Affichage Ludique</button>
        </div>
        <h1>Configuration de partie</h1>
        <div class="btns">
            <button (click)="displayRules()">Règles</button>
            <button (click)="startGame()">Commencer</button>
        </div>
    </div>
    <div class="menu">
        <div class="board-conf card">
            <div class="board-options">
                <h2>Choisissez un plateau</h2>

                <div class="options">

                    <div *ngFor="let conf of configurations" (click)="selectConfiguration(conf)" class="option card"
                        [class]="isSelectedConfiguration(conf)">
                        <img src="assets/{{conf}}.svg">
                        {{getConfigurationName(conf)}}
                    </div>

                <div class="option card" [class]="isSelectedGraphType('import')">
                    <div class="item-import file-label">
                        <input (click)="selectGraphType('import')" id="graph-file-input" name="graph-file-input" class="input-file" type="file"
                            accept="application/json" (change)="onFileChange($event.target.files[0])">
                        <label *ngIf="!selectedFileName" id="label-import-file" for="graph-file-input">
                            Choissisez un fichier...
                        </label>
                        <label *ngIf="selectedFileName" id="label-import-file" for="graph-file-input">
                            {{selectedFileName}}
                        </label>
                    </div>
                    <label class="item-import-label">Importer un graphe</label>
                </div>
                    
                </div>
                <br />
            </div>
            <div class="params">
                <h3>Paramètres supplémentaires</h3>

                <div class="form">
                    <div class="input-field">
                    <div *ngIf="param1 !== -1" class="input-field">
                        <label for="param1">{{getParam1Name()}}</label>
                        <input type="number" name="param1"
                            [min]="configuration_param_boundaries[selected_configuration].param1.min"
                            [max]="configuration_param_boundaries[selected_configuration].param1.max"
                            [(ngModel)]="param1"
                            (blur)="checkValueRightness($event)">
                            <button class="form-minus-btn">-</button>
                            <button class="form-plus-btn">+</button>
                    </div>
                </div>
                    <div *ngIf="param2 !== -1" class="input-field">
                        <label for="param2">{{getParam2Name()}}</label>
                        <input type="number" name="param2"
                            [min]="configuration_param_boundaries[selected_configuration].param2!.min"
                            [max]="configuration_param_boundaries[selected_configuration].param2!.max"
                            [(ngModel)]="param2"
                            (blur)="checkValueRightness($event)">
                            <button class="form-minus-btn">-</button>
                            <button class="form-plus-btn">+</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="game-params">
            <!-- Game Conf -->
            <div class="opponent card">
                <div class="type">
                    <h3>Choisissez votre type adversaire</h3>
                    <div class="options">
                        <div *ngFor="let type of opponent_types" (click)="selectOpponentType(type)"
                            class="opponent-type card" [class]="isSelectedOpponentType(type)">
                            <img src="assets/vs_{{type}}.svg">
                            {{getOpponentTypeMessage(type)}}
                        </div>
                    </div>
                </div>

                <div *ngIf="isOnePlayerGame()" class="side">
                    <h3>Choisissez votre camp</h3>
                    <div class="options">
                        <div *ngFor="let side of sides" (click)="selectSide(side)" class="option card"
                            [class]="isSelectedSide(side)">
                            <br/>
                            <img src="assets/{{side}}.png">
                            <br/>
                            {{getSideName(side)}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="collect card">
                <h3>Choisissez la vitesse de récolte</h3>
                <div class="input-field">
                    <label for="speed">Vitesse de récolte : </label>
                    <input min="1" type="number" name="speed"
                        min="1"
                        [(ngModel)]="collect_speed"
                        (blur)="checkValueRightness($event)">
                </div>
            </div>

            <div class="collect card">
                <h3>Choisissez le nombre de pas par tour</h3>
                <div class="input-field">
                    <label for="speed">Nombre de pas par tour : </label>
                    <input min="1" type="number" name="path_speed"
                        min="1"
                        [(ngModel)]="path_speed"
                        (blur)="checkValueRightness($event)">
                </div>
            </div>

            <div *ngIf="isOnePlayerGame()" class="level card">
                <h3>Choisissez le niveau de difficulté</h3>
                <div class="level-selection-list">
                    <div class="level-selection-list-item" [class]="isSelectedLevel('easy')">
                        <label for="mode1">Facile</label>
                        <input [(ngModel)]="selected_level" type="radio" id="mode1" name="mode" value="easy">
                    </div>
                    <div class="level-selection-list-item" [class]="isSelectedLevel('medium')">
                        <label for="mode2">Normal</label>
                        <input [(ngModel)]="selected_level" type="radio" id="mode2" name="mode" value="medium">
                    </div>
                    <div class="level-selection-list-item" [class]="isSelectedLevel('hard')">
                        <label for="mode3">Difficile</label>
                        <input [(ngModel)]="selected_level" type="radio" id="mode3" name="mode" value="hard">
                    </div>
                    <div class="level-selection-list-item" [class]="isSelectedLevel('extreme')">
                        <label for="mode4">Extrême</label>
                        <input [(ngModel)]="selected_level" type="radio" id="mode4" name="mode" value="extreme">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>