.header {
    display: flex;
    padding: .5em;
    align-items: center;

    button {
        padding-left: 2em;
        padding-right: 2em;
        height: 85%;

        img {
            width: 3em;
        }
    }

    h1 {
        margin-left: 35%;
    }
    margin-bottom: 1em;
}

.graphist, .devs {
    padding: 1em;
}