<!-- <p>credit works!</p> -->
<div class="header card">
    <button routerLink="/game-mode-selection">
        <img src="assets/arrow.svg" alt="">
    </button>
    <h1>Crédits</h1>
</div>

<div class="credit">
    <div class="graphist card">
        <div class="message">
            Cette application utilise des icônes et images trouvées sur le site
            <a href="https://www.flaticon.com/fr/" title="">www.flaticon.com</a>.
            Les images présentes sur cette application ont été conçues par les artistes suivants :
        </div>
    
        <div class="links">
            <ul>
                <li>
                    <a href="https://www.flaticon.com/fr/auteurs/freepik" title="Freepik">Freepik</a> (<a href="https://www.freepik.com" title="Freepik">site de Freepik</a>)
                </li>
                <li>
                    <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio">photo3idea_studio</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/authors/kirill-kazachek" title="Kirill Kazachek">Kirill Kazachek</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="devs card">
        <div class="message">
            L'application a été développée et supervisée par :
            <ul>
                <li>Frédéric HAVET</li>
                <li>Grégory HOAREAU</li>
                <li>Dorian MAZAURIC</li>
                <li>Nicolas NISSE</li>
                <li>Michel SYSKA</li>
            </ul>
        </div>
    </div>

</div>