/* You can add global styles to this file, and also import other style files */
$button_color: purple;
$button_disabled_color: gray;
$button_text_color: white;
$button_radius: 8px;

$selected_color: purple;
$selected_raduis: 0.5em;

$body_color: Gainsboro;

$card_background_color: snow;
$card_radius: 1em;

/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

body {
    background-color: $body_color;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

p {
    margin: 0;
}

button {
    color: $button_text_color;
    font-weight: bold;
    background-color: $button_color;
    border-radius: $button_radius;
}

button:disabled {
    background-color: $button_disabled_color;
}

.card {
    margin: 0.2em;
    background-color: $card_background_color;
    border-radius: $card_radius;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
}

.title, .subtitle {
    text-align: center;
}

.selected {
    border: 5px solid $selected_color !important;
    border-radius: $selected_raduis;
    opacity: 1 !important;
}

// Better display for input file
.input-file {
    display: none;
}

.file-label {
    color: $button_text_color;
    font-weight: bold;
    background-color: $button_color;
    border-radius: $button_radius;

    text-align: center;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 1);;
    padding: 1em;
    cursor: pointer;
}

.custom-dialog-container {
    width: 80% !important
}

app-root {
    height: 100%;
}
